In [0]:
from pyspark.sql.functions import col, upper, initcap
from pyspark.sql.types import IntegerType, DoubleType, BooleanType, DateType

There can be some issues, 
1. must have an application register
2. must have a key vault with permissions to both the user and azure databricks
3. give permissions to "Key Vault Administrator, Key Vault Contributor, Key Vault Reader, Key Vault Secrets Officer"

In [0]:
#https://<databricks-instance>#secrets/createScope

# Get the secret values from the secret scope
application_id = dbutils.secrets.get(scope="key-vault-scope", key="applicationid")
client_secret = dbutils.secrets.get(scope="key-vault-scope", key="secretkeyapp01")
tenant_id = dbutils.secrets.get(scope="key-vault-scope", key="tenanatid")

# Update the configs dictionary with the secret values
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": application_id,
"fs.azure.account.oauth2.client.secret": client_secret,
"fs.azure.account.oauth2.client.endpoint": f"https://login.microsoftonline.com/{tenant_id}/oauth2/token"}

# Define the mount point
mount_point = "/mnt/tokyo-olympics-data"

try:
    dbutils.fs.unmount(mount_point)
except:
    print("Directory was not mounted.")

# Mount the Azure Data Lake Storage using the updated configs
dbutils.fs.mount(
    source="abfss://tokyo-olympics-data@olympicsdataset2021.dfs.core.windows.net", # container@storageacc
    mount_point=mount_point,
    extra_configs=configs
)

/mnt/tokyo-olympics-data has been unmounted.

True

In [0]:
%fs
ls "/mnt/tokyo-olympics-data/"

path,name,size,modificationTime
dbfs:/mnt/tokyo-olympics-data/raw_data/,raw_data/,0,1716548401000
dbfs:/mnt/tokyo-olympics-data/transformed_data/,transformed_data/,0,1716548420000

so we wont be able to access the files at mount location at first as databricks requires authentication for accessing the files on the azure data lake.

first we need to give access to the registered app to give access to the data lake. 

resource_manager -> IAM -> add role -> Storage Blob Data Contributor -> give access to app01

In [0]:
dbutils.fs.ls("/mnt/tokyo-olympics-data/")

[FileInfo(path='dbfs:/mnt/tokyo-olympics-data/raw_data/', name='raw_data/', size=0, modificationTime=1716548401000),
 FileInfo(path='dbfs:/mnt/tokyo-olympics-data/transformed_data/', name='transformed_data/', size=0, modificationTime=1716548420000)]

# Reading Data

In [0]:
path = "/mnt/tokyo-olympics-data/raw_data"
athletes = spark.read.format("csv").option("header","true").option("inferSchema","true").load(f"{path}/athletes.csv")
coaches = spark.read.format("csv").option("header","true").option("inferSchema","true").load(f"{path}/coaches.csv")
entriesgender = spark.read.format("csv").option("header","true").option("inferSchema","true").load(f"{path}/entries_gender.csv")
medals = spark.read.format("csv").option("header","true").option("inferSchema","true").load(f"{path}/medals.csv")
teams = spark.read.format("csv").option("header","true").option("inferSchema","true").load(f"{path}/teams.csv")

# Printing the Data

In [0]:
athletes.show()
athletes.printSchema()

+--------------------+--------------------+-------------------+
|          PersonName|             Country|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD KATRINE|              NORWAY|       Cycling Road|
|         ABAD NESTOR|               SPAIN|Artistic Gymnastics|
|   ABAGNALE GIOVANNI|               ITALY|             Rowing|
|      ABALDE ALBERTO|               SPAIN|         Basketball|
|       ABALDE TAMARA|               SPAIN|         Basketball|
|           ABALO LUC|              FRANCE|           Handball|
|        ABAROA CESAR|               CHILE|             Rowing|
|       ABASS ABOBAKR|               SUDAN|           Swimming|
|    ABBASALI HAMIDEH|ISLAMIC REPUBLIC ...|             Karate|
|       ABBASOV ISLAM|          AZERBAIJAN|          Wrestling|
|        ABBINGH LOIS|         NETHERLANDS|           Handball|
|         ABBOT EMILY|           AUSTRALIA|Rhythmic Gymnastics|
|       ABBOTT MONICA|UNITED STATES OF ...|  Baseball/softball|
|ABDALLA ABUBAKER ...|               QATAR|          Athletics|
|      ABDALLA MARYAM|               EGYPT|  Artistic Swimming|
|      ABDALLAH SHAHD|               EGYPT|  Artistic Swimming|
| ABDALRASOOL MOHAMED|               SUDAN|               Judo|
|   ABDEL LATIF RADWA|               EGYPT|           Shooting|
|    ABDEL RAZEK SAMY|               EGYPT|           Shooting|
|   ABDELAZIZ ABDALLA|               EGYPT|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
coaches.show()
coaches.printSchema()

+--------------------+--------------------+-----------------+--------+
|                Name|             Country|       Discipline|   Event|
+--------------------+--------------------+-----------------+--------+
|     ABDELMAGID Wael|               Egypt|         Football|    NULL|
|           ABE Junya|               Japan|       Volleyball|    NULL|
|       ABE Katsuhiko|               Japan|       Basketball|    NULL|
|        ADAMA Cherif|       C�te d'Ivoire|         Football|    NULL|
|          AGEBA Yuya|               Japan|       Volleyball|    NULL|
|AIKMAN Siegfried ...|               Japan|           Hockey|     Men|
|       AL SAADI Kais|             Germany|           Hockey|     Men|
|       ALAMEDA Lonni|              Canada|Baseball/Softball|Softball|
|     ALEKNO Vladimir|Islamic Republic ...|       Volleyball|     Men|
|     ALEKSEEV Alexey|                 ROC|         Handball|   Women|
|ALLER CARBALLO Ma...|               Spain|       Basketball|    NULL|
|       ALSHEHRI Saad|        Saudi Arabia|         Football|     Men|
|           ALY Kamal|               Egypt|         Football|    NULL|
| AMAYA GAITAN Fabian|         Puerto Rico|       Basketball|    NULL|
|    AMO AGUADO Pablo|               Spain|         Football|    NULL|
|   ANDONOVSKI Vlatko|United States of ...|         Football|   Women|
|        ANNAN Alyson|         Netherlands|           Hockey|   Women|
|  ARNAU CREUS Xavier|               Japan|           Hockey|   Women|
|       ARNOLD Graham|           Australia|         Football|     Men|
|         AXNER Tomas|              Sweden|         Handball|   Women|
+--------------------+--------------------+-----------------+--------+
only showing top 20 rows

root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

# Cleaning

In [0]:
import pandas as pd

In [0]:
# Clean the 'athletes' DataFrame
athletes = athletes.withColumn("PersonName", upper(col("PersonName"))) \
                   .withColumn("Country", upper(col("Country"))) \
                   .withColumn("Discipline", initcap(col("Discipline")))

# Clean the 'coaches' DataFrame
coaches = coaches.withColumn("Name", upper(col("Name"))) \
                 .withColumn("Country", upper(col("Country"))) \
                 .withColumn("Discipline", initcap(col("Discipline"))) \
                 .withColumn("Event", initcap(col("Event")))

# Clean the 'entriesgender' DataFrame
entriesgender = entriesgender.withColumn("Discipline", initcap(col("Discipline")))

# Clean the 'medals' DataFrame
medals = medals.withColumnRenamed("Team_Country", "TeamCountry") \
               .withColumn("TeamCountry", upper(col("TeamCountry")))

# Clean the 'teams' DataFrame
teams = teams.withColumn("TeamName", upper(col("TeamName"))) \
             .withColumn("Discipline", initcap(col("Discipline"))) \
             .withColumn("Country", upper(col("Country"))) \
             .withColumn("Event", initcap(col("Event")))

# Show Data

In [0]:
athletes.show()
coaches.show()
entriesgender.show()
medals.show()
teams.show()

+--------------------+--------------------+-------------------+
|          PersonName|             Country|         Discipline|
+--------------------+--------------------+-------------------+
|     AALERUD KATRINE|              NORWAY|       Cycling Road|
|         ABAD NESTOR|               SPAIN|Artistic Gymnastics|
|   ABAGNALE GIOVANNI|               ITALY|             Rowing|
|      ABALDE ALBERTO|               SPAIN|         Basketball|
|       ABALDE TAMARA|               SPAIN|         Basketball|
|           ABALO LUC|              FRANCE|           Handball|
|        ABAROA CESAR|               CHILE|             Rowing|
|       ABASS ABOBAKR|               SUDAN|           Swimming|
|    ABBASALI HAMIDEH|ISLAMIC REPUBLIC ...|             Karate|
|       ABBASOV ISLAM|          AZERBAIJAN|          Wrestling|
|        ABBINGH LOIS|         NETHERLANDS|           Handball|
|         ABBOT EMILY|           AUSTRALIA|Rhythmic Gymnastics|
|       ABBOTT MONICA|UNITED STATES OF ...|  Baseball/softball|
|ABDALLA ABUBAKER ...|               QATAR|          Athletics|
|      ABDALLA MARYAM|               EGYPT|  Artistic Swimming|
|      ABDALLAH SHAHD|               EGYPT|  Artistic Swimming|
| ABDALRASOOL MOHAMED|               SUDAN|               Judo|
|   ABDEL LATIF RADWA|               EGYPT|           Shooting|
|    ABDEL RAZEK SAMY|               EGYPT|           Shooting|
|   ABDELAZIZ ABDALLA|               EGYPT|             Karate|
+--------------------+--------------------+-------------------+
only showing top 20 rows

+--------------------+--------------------+-----------------+--------+
|                Name|             Country|       Discipline|   Event|
+--------------------+--------------------+-----------------+--------+
|     ABDELMAGID WAEL|               EGYPT|         Football|    NULL|
|           ABE JUNYA|               JAPAN|       Volleyball|    NULL|
|       ABE KATSUHIKO|               JAPAN|       Basketball|    NULL|
|        ADAMA CHERIF|       C�TE D'IVOIRE|         Football|    NULL|
|          AGEBA YUYA|               JAPAN|       Volleyball|    NULL|
|AIKMAN SIEGFRIED ...|               JAPAN|           Hockey|     Men|
|       AL SAADI KAIS|             GERMANY|           Hockey|     Men|
|       ALAMEDA LONNI|              CANADA|Baseball/softball|Softball|
|     ALEKNO VLADIMIR|ISLAMIC REPUBLIC ...|       Volleyball|     Men|
|     ALEKSEEV ALEXEY|                 ROC|         Handball|   Women|
|ALLER CARBALLO MA...|               SPAIN|       Basketball|    NULL|
|       ALSHEHRI SAAD|        SAUDI ARABIA|         Football|     Men|
|           ALY KAMAL|               EGYPT|         Football|    NULL|
| AMAYA GAITAN FABIAN|         PUERTO RICO|       Basketball|    NULL|
|    AMO AGUADO PABLO|               SPAIN|         Football|    NULL|
|   ANDONOVSKI VLATKO|UNITED STATES OF ...|         Football|   Women|
|        ANNAN ALYSON|         NETHERLANDS|           Hockey|   Women|
|  ARNAU CREUS XAVIER|               JAPAN|           Hockey|   Women|
|       ARNOLD GRAHAM|           AUSTRALIA|         Football|     Men|
|         AXNER TOMAS|              SWEDEN|         Handball|   Women|
+--------------------+--------------------+-----------------+--------+
only showing top 20 rows

+--------------------+------+----+-----+
|          Discipline|Female|Male|Total|
+--------------------+------+----+-----+
|      3x3 Basketball|    32|  32|   64|
|             Archery|    64|  64|  128|
| Artistic Gymnastics|    98|  98|  196|
|   Artistic Swimming|   105|   0|  105|
|           Athletics|   969|1072| 2041|
|           Badminton|    86|  87|  173|
|   Baseball/softball|    90| 144|  234|
|          Basketball|   144| 144|  288|
|    Beach Volleyball|    48|  48|   96|
|              Boxing|   102| 187|  289|
|        Canoe Slalom|    41|  41|   82|
|        Canoe Sprint|   123| 126|  249|
|Cycling Bmx Frees...|    10|   9|   19|
|  Cycling Bmx Racing|    24|  24|   48|
|Cycling Mountain ...|    38|  38|   76|
|        Cycling Road|    70| 131|  201|
|       Cycling Track|    90|  99|  189|
|              Diving|    72|  71|  143|
|          Equestrian|    73| 125|  198|
|             Fencing|   107| 108|  215|
+--------------------+------+----+-----+
only showing top 20 rows

+----+--------------------+----+------+------+-----+-------------+
|Rank|         TeamCountry|Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------+----+------+------+-----+-------------+
|   1|UNITED STATES OF ...|  39|    41|    33|  113|            1|
|   2|PEOPLE'S REPUBLIC...|  38|    32|    18|   88|            2|
|   3|               JAPAN|  27|    14|    17|   58|            5|
|   4|       GREAT BRITAIN|  22|    21|    22|   65|            4|
|   5|                 ROC|  20|    28|    23|   71|            3|
|   6|           AUSTRALIA|  17|     7|    22|   46|            6|
|   7|         NETHERLANDS|  10|    12|    14|   36|            9|
|   8|              FRANCE|  10|    12|    11|   33|           10|
|   9|             GERMANY|  10|    11|    16|   37|            8|
|  10|               ITALY|  10|    10|    20|   40|            7|
|  11|              CANADA|   7|     6|    11|   24|           11|
|  12|              BRAZIL|   7|     6|     8|   21|           12|
|  13|         NEW ZEALAND|   7|     6|     7|   20|           13|
|  14|                CUBA|   7|     3|     5|   15|           18|
|  15|             HUNGARY|   6|     7|     7|   20|           13|
|  16|   REPUBLIC OF KOREA|   6|     4|    10|   20|           13|
|  17|              POLAND|   4|     5|     5|   14|           19|
|  18|      CZECH REPUBLIC|   4|     4|     3|   11|           23|
|  19|               KENYA|   4|     4|     2|   10|           25|
|  20|              NORWAY|   4|     2|     2|    8|           29|
+----+--------------------+----+------+------+-----+-------------+
only showing top 20 rows

+-------------+--------------+--------------------+------------+
|     TeamName|    Discipline|             Country|       Event|
+-------------+--------------+--------------------+------------+
|      BELGIUM|3x3 Basketball|             BELGIUM|         Men|
|        CHINA|3x3 Basketball|PEOPLE'S REPUBLIC...|         Men|
|        CHINA|3x3 Basketball|PEOPLE'S REPUBLIC...|       Women|
|       FRANCE|3x3 Basketball|              FRANCE|       Women|
|        ITALY|3x3 Basketball|               ITALY|       Women|
|        JAPAN|3x3 Basketball|               JAPAN|         Men|
|        JAPAN|3x3 Basketball|               JAPAN|       Women|
|       LATVIA|3x3 Basketball|              LATVIA|         Men|
|     MONGOLIA|3x3 Basketball|            MONGOLIA|       Women|
|  NETHERLANDS|3x3 Basketball|         NETHERLANDS|         Men|
|       POLAND|3x3 Basketball|              POLAND|         Men|
|          ROC|3x3 Basketball|                 ROC|         Men|
|          ROC|3x3 Basketball|                 ROC|       Women|
|      ROMANIA|3x3 Basketball|             ROMANIA|       Women|
|       SERBIA|3x3 Basketball|              SERBIA|         Men|
|UNITED STATES|3x3 Basketball|UNITED STATES OF ...|       Women|
|    AUSTRALIA|       Archery|           AUSTRALIA|  Men's Team|
|    AUSTRALIA|       Archery|           AUSTRALIA|  Mixed Team|
|   BANGLADESH|       Archery|          BANGLADESH|  Mixed Team|
|      BELARUS|       Archery|             BELARUS|Women's Team|
+-------------+--------------+--------------------+------------+
only showing top 20 rows

# Show schemas

In [0]:
athletes.printSchema()
coaches.printSchema()
entriesgender.printSchema()
medals.printSchema()
teams.printSchema()

root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

root
 |-- Rank: integer (nullable = true)
 |-- TeamCountry: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

root
 |-- TeamName: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)

# Load data to Data lake (transformed)

In [0]:
# Write the cleaned data to the specified directories
path = "/mnt/tokyo-olympics-data/transformed-data"
athletes.repartition(1).write.mode("overwrite").option("header", "true").csv(f"{path}/athletes")
coaches.repartition(1).write.mode("overwrite").option("header", "true").csv(f"{path}/coaches")
entriesgender.repartition(1).write.mode("overwrite").option("header", "true").csv(f"{path}/entriesgender")
medals.repartition(1).write.mode("overwrite").option("header", "true").csv(f"{path}/medals")
teams.repartition(1).write.mode("overwrite").option("header", "true").csv(f"{path}/teams")